.center-border{
    margin:auto;
    width: 30%;
    border: 140px solid transparent;
    padding: 4px;
    border-image: url(images/border.png) 90 round;
    background-color: rgb(252, 196, 196);
}
.flex-container{
    display: flex;
    width: 1650px;
    background-color: rgb(252, 196, 196);
}


.grid{
    height: 600px;
    width: 600px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(252, 196, 196) ;
    
    
    
}
.grid div{
    height: 70px;
    width: 70px;
    
}

body{
    background-color: rgb(252, 196, 196);
}
.logo{
    height: 100px;
    width: 100px
}
.score-board{
    width: 100px;
    margin-left: -200px;
    
}

.container{
   padding-top: 100px;
  
}
